:root{
    /* background-colors */

    --nav-bg: #FBFFF1;
    --primary:  #090C9B;
    --secondary: #B4C5E4;
    --footer-bg: #3C3744;
    --bg-white: #fff;
    --btn-bg: #3D52D5;

    /* text colors */

    --text-gray: #adb9c7;
    --text-white: #f3f4f6;
    --text-black: black;

}

*{
 background-color: var(--btn-bg);
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;
 list-style-type: none;
 font-family: "poppins", sans-serif;
}

.container {
 color: var(--text-white);
 margin: auto;
 flex-direction: column;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 30px;
 width: 500px;
 height: 600px;
 padding-top: 40px;
}

.botones {
 justify-content: center;
 align-items: center;

 display: flex;
 gap: 20px;
}

.google-btn {
 background-color: #1A73E8;
 border: none;
 border-radius: 5px;
 height: 40px;
 display: flex;
 align-items: center;
 padding: 3px;
 cursor: pointer;
 margin: auto;
}

.google-btn:hover{
 opacity: 0.75;
}

.google-btn picture{
 width: 35px;
 height: 35px;
 background-color: var(--text-white);
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 3px;
}   

.google-btn picture img{
 width: 75%;
}

.google-btn span{
 color: var(--text-white);
 background-color: #1A73E8;
 padding: 7px;
 font-weight: 500;
}

.twitter-btn {
 background-color: #00b9ff;
 border: none;
 border-radius: 5px;
 height: 40px;
 display: flex;
 align-items: center;
 padding: 3px;
 cursor: pointer;
 margin: auto;
}

.twitter-btn:hover{
 opacity: 0.75;
}

.twitter-btn picture{
 width: 35px;
 height: 35px;
 background-color: var(--text-white);
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 3px;
}   

.twitter-btn picture img{
 width: 75%;
}

.twitter-btn span{
 color: var(--text-white);
 background-color: #00b9ff;
 padding: 7px;
 font-weight: 500;
}

.separador{
 align-items: center;
 justify-content: center;
 display: flex;
 width: 100%;
 gap: 15px;
}

.separador hr{
 flex-grow: 1;
 border: none;
 border-top: 1px solid var(--text-gray);
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-container button{
    margin: 20px;
    background-color: var(--bg-white);
    border: none;
    border-radius: 10px;
    height: 60px;
    width: 530px;
    cursor: pointer;
    font-size: 20px;
}

.container a{
    text-decoration: none;
    color: var(--text-white);
    font-size: 20px;
}

.input-container form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.input-container input{
    background-color: var(--footer-bg);
    border-radius: 20px;
    width: 250px;
    height: 50px;
    text-align: center;
    border: none;
    font-size: 15px;
    color: var(--text-white);

}

.input-container input::placeholder{
    color: var(--text-white);
}

.date-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.date-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.date-container input{
    background-color: var(--footer-bg);
    border-radius: 20px;
    width: 520px;
    height: 50px;
    text-align: center;
    border: none;
    font-size: 15px;
    color: var(--text-white);
}

.date-container input::placeholder{
    color: var(--text-white);
}